*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
:root{
    --black: #1f2328;
    --text-grey: #636c76;
    --logo-grey: #8994af;
    --orange: #e44c27;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-cnt{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    justify-content: center;
    align-items: start;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bottom{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-cnt{
    height: 100%;
    width: 100%;
}
.black-txt{
    font-size: 3.5rem;
    color: var(--black);
    margin: 10px 0px 30px 0px;
}
.black-txt span{
    font-weight: 650;
    
}
.grey-txt{
    color: var(--text-grey);
    font-size: 2rem;
}
.four-ico{
    display: flex;
}
.main-ico-cnt{
    display: flex;
    padding: 5px;
    margin-right: 40px;
}
.main-ico-cnt i{
    font-size: 1.5rem;
    color: var(--text-grey);
    margin-right: 15px;
}
.numtxt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.num{
    color: var(--black);
    font-size: 2rem;
    line-height: 1.4rem;
}
.txt{
    font-size: 1.5rem;
    color: var(--text-grey);
    font-weight: 400;
    margin-top: 10px;
}
.gh-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.gh-logo i{
    font-size: 3rem;
    color: var(--logo-grey);
}

footer{
    width: 100%;
    height: 20px;
    background-color: var(--orange);
}

@media only screen and (max-width: 1300px){
    .main-cnt{
        max-width: 70vw;
    }
}
@media only screen and (max-width: 1100px){
    .main-cnt{
        max-width: 80vw;
    }
}

@media only screen and (max-width: 950px){
    .gh-logo{
        display: none;
    }
    .four-ico{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 950px){
    body{
        min-height: 100vh;
        height: fit-content;
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    header{
        margin-top: 50px;
    }
    .top{
        flex-direction: column-reverse;

    }
    .pp-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        margin-top: 50px;
        min-height: 80vh;
    }
    .main-cnt{
        height: fit-content;
    }
    .pp-img img{
        height: 20vw;
    }
    .black-txt{
        font-size: 1.9rem;
    }
    .grey-txt{
        font-size: 1.5rem;
    }
    .main-ico-cnt i{
        font-size: 1.5rem;
        /* margin: 0; */
    }
    .num{
        font-size: 1.9rem;
    }
    .txt{
        font-size: 1.5rem;
    }
    .four-ico{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-ico-cnt{
        margin: 0;
        width: 45%;
    }
    .bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .gh-logo{
        margin: 50px 0 0 0;
        display: flex;
    }
}
@media only screen and (max-width: 600px){
    .pp-img img{
        height: 30vw;
    }
    .black-txt{
        font-size: 1.5rem;
    }
    .grey-txt{
        font-size: 1rem;
    }
    .main-ico-cnt i{
        font-size: 1.5rem;
    }
    .num{
        font-size: 1.5rem;
    }
    .txt{
        font-size: 1rem;
    }
}